#include "ZaruBall.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&xiao_serial { status = "disabled"; };

// matrix transformでのピン数オフセット
&default_transform { // Offset of 7 because the left side has 2 columns
    col-offset = <12>;
    row-offset = <12>;
};

&kscan0 {
    gpios
        = <&xiao_d 0 GPIO_ACTIVE_HIGH>//M1
        , <&xiao_d 1 GPIO_ACTIVE_HIGH>//M2
        , <&xiao_d 2 GPIO_ACTIVE_HIGH>//M3
        , <&xiao_d 3 GPIO_ACTIVE_HIGH>//M4
        , <&xiao_d 4 GPIO_ACTIVE_HIGH>//M5
        , <&xiao_d 5 GPIO_ACTIVE_HIGH>//M6
        ;
    interrupt-gpios = <&xiao_d 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;//IGPIO
};

// pmw-3610-driverを動かすコード（古いブランチ:pointers-move-scroll）----------------------------------
&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 15)>, // SCLK
                <NRF_PSEL(SPIM_MOSI, 1, 13)>, // SDIO
                <NRF_PSEL(SPIM_MISO, 1, 13)>; // SDIO
        };
    };

    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 15)>,
                <NRF_PSEL(SPIM_MOSI, 1, 13)>,
                <NRF_PSEL(SPIM_MISO, 1, 13)>;
            low-power-enable;
        };
    };
};

&spi0 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio1 14 GPIO_ACTIVE_LOW>; // CS

    trackball: trackball@0 {
        status = "okay";
        compatible = "pixart,pmw3610";
        reg = <0>;
        spi-max-frequency = <2000000>;
        irq-gpios = <&gpio1 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; // MOTION

        /*   optional features   */
        // snipe-layers = <1 2>;
        automouse-layer = <1>;
        // force-awake;            // 入力の“抜け”を感じるなら有効化（消費↑）
        // force-awake-4ms-mode;   // 有線等で高頻度にしたい場合のみ
    };
};

/ {
  trackball_listener {
    compatible = "zmk,input-listener";
    device = <&trackball>;

    // --- 縦スクロールモード：X だけを縦ホイールに変換（右=下／左=上）, Y は無効 ---
    scroller_v {
        layers = <5>; 
        input-processors = < 
            &zip_x_scaler 0 1 // Xは未使用（ダミー） 
            &zip_y_scaler 1 12 // 入力量（8〜12で微調整） 
            &zip_xy_to_scroll_mapper 
            &zip_scroll_transform (INPUT_TRANSFORM_Y_INVERT) // ← 縦方向が逆ならこの1行を有効化 
            &zip_scroll_scaler 1 12 // スクロールの細かさ（10〜16で微調整）
        >;
    };

    // --- 横スクロールモード：X を横ホイールに変換, Y は無効 ---
    scroller_h { 
        layers = <6>; 
        input-processors = < &zip_y_scaler 0 1 // Yは未使用（ダミー） 
        &zip_x_scaler 1 12 
        &zip_xy_to_scroll_mapper 
        // &zip_scroll_transform (INPUT_TRANSFORM_X_INVERT) // ← 横方向が逆ならこの1行を有効化 
        &zip_scroll_scaler 1 12 
        >; 
    };

  };
};

